body {
    height: 100%;
    background-color: black;
  }
  
  img {
    width: 50%;
    height: auto;
    margin: auto auto auto auto;
    display: block;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  }
  
  @-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }