body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  }
  
  #logo {
    font-size: 64px;
    width: 205px;
    height: 100px;
    color: rgba(255, 255, 255, 0.807);
    font-weight: 800;
    margin: auto auto auto auto;
  }

  #links {
    margin: 40px auto auto auto;
    display: block;
    text-align: center;
    width: 200px;
  }

  .link  {
    margin: auto auto auto auto;
    display: block;
    font-size: 32px;
    letter-spacing: .04em;
    padding: 3px;
    color: rgba(255, 255, 255, 0.807);
    font-weight: 600;
  }
  .link:hover {
    color: rgba(255, 255, 255, 0.28);
  }

  .cv-menu {
    background-color:rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .cv-menu :hover{
    background-color:rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.28);
  }
  .cv-item {
    color: rgba(255, 255, 255, 0.807);
  }
  .drop-title {
    color: rgba(255, 255, 255, 0.807);
  }
  .drop-title:hover {
    color: rgba(255, 255, 255, 0.28);
  }

  a {
    text-decoration: none;
  }